.app-container.style1 table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .app-container.style1 table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .app-container.style1 table th, table td {
    padding: 12px 15px;
    text-align: center;
  }
  
  .app-container.style1 table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .app-container.style1 table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .app-container.style1 table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .app-container.style1 table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .app-container.style1 .clickable {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .app-container.style1 .clickable:hover {
    background-color: #009879;
    color: #ffffff;
  }

  .equal-width {
    width: 40px;
  }
  
  .app-container.style1 .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .app-container.style1 .tooltip .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: normal;
    white-space: pre-line;
  }
  
  .app-container.style1 .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  .app-container.style1 .tooltip .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  