.app-container.style2 table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
.app-container.style2 table thead tr {
    background-color: #4CAF50;
    color: #ffffff;
    text-align: center;
  }
  
  .app-container.style2 table th, table td {
    padding: 12px 15px;
  }
  
  .app-container.style2 table tbody tr {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .app-container.style2 table tbody tr:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .app-container.style2 table tbody tr:nth-of-type(even) {
    background-color: #e3f2fd;
  }
  
  .app-container.style2 table tbody tr:hover td {
    background-color: #e1f5fe;
  }
  
  .app-container.style2 .clickable {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .app-container.style2 .clickable:hover {
    background-color: #4CAF50;
    color: #ffffff;
  }

  .equal-width {
    width: 40px;
  }
  
  .app-container.style2 .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .app-container.style2 .tooltip .tooltip-text {
    visibility: hidden;
    width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: 600;
    white-space: pre-line;
  }
  
  .app-container.style2 .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  .app-container.style2 .tooltip .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
  