.app-container.style3 table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .app-container.style3 table thead tr {
    background-color: #34495e;
    color: #ffffff;
  }
  
  .app-container.style3 table th, table td {
    padding: 12px 15px;
    text-align: center;
  }
  
  .app-container.style3 table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s ease;
  }
  
  .app-container.style3 table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .app-container.style3 table tbody tr:hover {
    background-color: #2fa32b;
    color: #ffffff;
  }
  
  .app-container.style3 .clickable {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .app-container.style3 .clickable:hover {
    background-color: #9fd4ec;
    color: #2980b9;
  }

  .equal-width {
    width: 40px;
  }
  
  .app-container.style3 .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .app-container.style3 .tooltip .tooltip-text {
    visibility: hidden;
    width: 180px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: 500;
    white-space: pre-line;
  }
  
  .app-container.style3 .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  .app-container.style3 .tooltip .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }

