.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip-text {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the tooltip container */
    left: 50%;
    transform: translateX(-50%);
    white-space: pre-line; /* Allow line breaks */
    font-size: 14px;
    line-height: 1.4;
    max-width: 200px; /* Set a max width to prevent overflow */
    word-wrap: break-word; /* Wrap long words to the next line */
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow points downwards */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
  }
  