.tooltip-container {
	position: relative;
	display: inline-block;
}

.tooltip-text {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #333;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	white-space: nowrap;
	font-weight: 600;
	z-index: 1;
}